body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-left: 0;
    background-color:rgb(0, 0, 0);
    overflow-x: hidden;
}
h5{
    margin: 8px;
    width: auto;
    color: rgb(255, 169, 232);
    box-shadow: 8px 8px 100px rgb(238, 0, 255);
  
}

h4{
    margin: 8px;
    color: #ffffff;
    font-weight: 450;
}

h1{
    margin: 8px;
    color: #ffffff;
}


.topbar{
    width: 100vw;
    height: 14%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    background-color:rgba(0, 145, 255, 0.83);
    box-shadow: 8px 8px 100px rgb(62, 181, 255);

}

.tag-navigator {
    padding-top: 25px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.tag-filter {
text-align: center;
width:19.2%;
margin: 1px;
padding:0px;
cursor: pointer;
color: #ffffff;
background-color: #ffffff00;
font-size:large;
}
.shopbutton{
color:#000000;
background-color: rgb(255, 255, 255);
border-radius: 360px;
width: 200px;
font-size: large;
font-weight: bold;
padding: 8px;
position: fixed;
bottom:0px;
right:calc(50vw - 100px);
margin-bottom: 30px;

box-shadow: 8px 8px 100px rgb(0, 132, 255);

}

.divider{
background-color: #ffffff2e;
height: 2px;
width: 50%;
}